/* ベースのスタイル */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #222;
}

main {
  padding: 120px;
}

section {
  margin-bottom: 200px;
}

h2 {
  margin-bottom: 40px;
}
